<?xml version="1.0" encoding="iso-8859-1" ?>
<Module>
	<ModulePrefs 
		author="F.biz" 
		author_email="nalmeida@fbiz.com.br" 
		title="Nome da APP" 
		description="Descrição Descrição Descrição Descrição Descrição Descrição Descrição Descrição Descrição Descrição Descrição Descrição Descrição " 
		thumbnail="http://SERVER/img/thumb.png" 
		screenshot="http://SERVER/img/screenshot.jpg" 
		height="500" 
	>
	    <Locale lang="all" country="all" />
	    <Locale lang="pt" country="br" />
		<Require feature="opensocial-0.7"/>
		<Require feature="dynamic-height" />
		<Require feature="views" />
		<Require feature="setprefs" />
		<Require feature="analytics"/>
	</ModulePrefs>
	<Content type="html" view="canvas">
		<![CDATA[ 
			Só Canvas
		]]>
	</Content>
	<Content type="html" view="profile">
		<![CDATA[ 
			Só profile
		]]>
	</Content>
	<Content type="html" view="canvas,profile">
		<![CDATA[
			<script type="text/javascript" src="http://SERVER/js/osdata.js"></script>
			<style type="text/css">
				html{
					margin:0px;
					padding:0px;
				}
				body{ 
					margin:0px;
					padding:0px;
					background: url(http://SERVER/img/loader.gif) center center no-repeat #112148 fixed;
				}
				body *{
					color: #fff;
				}
			</style>
			<script type="text/javascript">
				function trace(w){if(window['console']) console.info(w);}
				function $(w){return document.getElementById(w);}
				
				var global = {
					root_url: 'http://SERVER/',
					version: '1'
				};
					
				function sendActivity(str){
					if(OSData.user.isOwner()){
						OSData.app.activity.send({
							title: str,
							text: ""
						});	
					}
				}
				
				function init(){
					try {
						OSData.app.dataToRequest.FRIENDS = true;
						//OSData.user.owner.friends.FILTER = "has_app";
						OSData.user.owner.friends.MAX = 5000;
						OSData.onComplete = function(){
							sendDataToESPN();
						}
						OSData.init()
					} catch (e){
					}
				}
				
				try {
					gadgets.window.adjustHeight();
				} catch(E){}
				
				gadgets.util.registerOnLoadHandler(init);
				
			</script>
		]]>
	</Content>
</Module>