<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="dummy" value="0"/>
  </appSettings>

  <connectionStrings>
    <remove name="Sql" />
    <add    name="Sql" providerName="System.Data.SqlClient" connectionString="Data Source=FDES\SQL2000;Initial Catalog=;User Id=sa;Password=159753;" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="10.2.0.10"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <customErrors mode="Off"/>
    <compilation defaultLanguage="c#" debug="true" />
    
	<globalization fileEncoding="utf-8" uiCulture="pt-BR" culture="pt-BR" requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpHandlers>
      <add path="minify.aspx" type="Common.Minify" verb = "*"/>
    </httpHandlers>
  </system.web>
</configuration>
