html, body, form, #wrapper, #content_wrapper{height:100%; min-width:0; min-height:0;}
body{background-image:none;}
#wrapper{background:none;}

#content_wrapper{
	text-align:center;
	letter-spacing:-1ex;
	white-space:nowrap;
}
.verticalAligner,
#boxLogin{
	display:inline-block;
	#display:inline;
	#zoom:1;
	vertical-align:middle;
	letter-spacing:0;
	text-align:left;
}
.verticalAligner{
	height:100%;
	width:1px;
	margin-right:-1px;
	visibility:hidden;
}

.login #content_wrapper{
	padding:0;
}
.login #boxLogin {
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	padding:15px 30px;
	border: 7px solid #C0C0C0;
}
	.login #boxLogin {
		background-color: #FFFFFF;
	}
